
<!DOCTYPE html>
<!--
  Note to contributors: Do not submit any changes to this page, as it is generated automatically
  from https://github.com/fossasia/open-event-scraper.
-->
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="OpenTechSummit 2016 Schedule">
  <meta name="author" content="OpenTechSummit">

  <title>{{ apptitle }}</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="./dependencies/font-awesome.min.css">
  <link rel="stylesheet" href="./dependencies/bootstrap.min.css">
  <link rel="stylesheet" href="./css/schedule.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

  <body>

    {{> navbar}}

  <div class="main container">
     <div class="row">
      <div class="middle col-sm-12">
          <h2 class="filter-heading track-heading text-center">
          <span>
             Venue
          </span>
          </h2>
      </div>
    </div>

    {{#days}}
        <span class="date-pill"><a href="./rooms.html#{{caption}}"> {{caption}} </a></span>
    {{/days}}

    <div id="session-list" class="container">
      <div class="row">
        <div style="margin:15px;" class="col-md-10">
          <div style="margin-top:4%" id="track-list">
            {{#roomsinfo}}
            <div class="row">
              <div style="padding:0" class="col-md-12">
              <a class="anchor" id="{{date}}"></a>
              <h5 class="text">{{date}}</h4>
              </div>
            </div>
            <div class="row">
              {{#sessions}}
              <div class="row">
                <div style="clear:both" class="col-md-12">
                {{#if venue }}
                <h5 class="text" style="padding-bottom:20px;">{{venue}}</h4>
                {{/if}} 
                </div>
              </div>
              <div class="eventtime col-xs-2 col-sm-4 col-md-2">
                <span class="time-track">{{start}}</span>
              </div>
               <div class="room-container"
                data-toggle="collapse"
                data-target="#desc-{{session_id}} .collapse"
                aria-expanded="false"
                aria-controls="desc-{{session_id}}">
                  <div class="left-border col-xs-10 col-sm-10 col-md-9">
                    <h4 style="background-color:{{{color}}}"  class="sizeevent event">
                      {{title}}
                    </h4>
                    <div  id="desc-{{session_id}}">
                      <p class="collapse">
                        <span class="tip-description">{{{description}}}
                        </span>
                      </p>
                    <hr style="clear:both" class="collapse">
                      <div class="session-speakers-list collapse">
                        {{#speakers_list}}
                        <p class="session-speakers-less">
                          {{#if photo}}
                          <p style="margin-right:20px" class="session-speakers">
                          <img  onError="this.onerror=null;this.src='./dependencies/avatar.png';" class="card-img-top" src="{{photo}}" style="width:10rem; height:10rem; border-radius:50%;"/>
                        </p>
                        {{/if}}
                      <span class="blacktext ">About {{name}}:</span>
                    </p>
                  {{#if long_biography}}
                    <div class="session-speakers-more">
                      <p>
                        <span class="blacktext tip-description">{{{long_biography}}}</span>
                      </p>
                      <p class="blacktext session-speaker-social">
                      {{#if web}}
                        <a class="blacktext social speaker-social" href="{{{web}}}"}>
                          <i class="fa fa-home"></i> Web
                        </a>&nbsp;
                      {{/if}}
                      {{#if github}}
                        <a class="blacktext  social speaker-social" href="{{{github}}}"}>
                          <i class="fa fa-github"></i> Github
                        </a>&nbsp;
                      {{/if}}
                      {{#if twitter}}
                        <a class="blacktext  social speaker-social" href="{{{twitter}}}"}>
                          <i class="fa fa-twitter"></i> Twitter
                        </a>&nbsp;
                       {{/if}}
                       {{#if linkedin}} 
                        <a class="blacktext  social speaker-social" href="{{{linkedin}}}"}>
                          <i class="fa fa-linkedin"></i> LinkedIn
                        </a>
                        {{/if}}
                         <hr style="clear:both">
                      </p>
                    </div>
                    {{/if}}
                    {{/speakers_list}}
                    <div class="blacktext">
                    {{#if roomname}}
                    <p><i>{{roomname}}</i></p>
                    {{/if}}
                    {{#if sessiondate}}
                    <p> {{sessiondate}}, <span>{{start}} - {{end}}</span></p>
                    {{/if}}
                    <p> 
                    <ul class="title-inline">
                      <li  style="background-color:{{{color}}}" class="titlecolor"></li>&nbsp;
                      <li class="blacktext">{{tracktitle}}</li>
                    </ul>
                    </p><br>
                    </div>
                  </div>
                </div>

              </div>
              
             </div> 
               {{/sessions}}
            </div>
              
              {{/roomsinfo}}
          </div>
        </div>
        <div class="track-names col-md-2">
        {{# tracks}}
        {{#if title}}
         
            <ul class="title-inline">
              <li  style="background-color:{{{color}}}" class="titlecolor"></li>
              <li>{{title}}</li>
            </ul>
          
        {{/if}}
        {{/tracks}}  
        </div>     
        </div>   
      </div>
    </div>
  </div>
    {{> footer}}
    <script src="./dependencies/jquery.min.js"></script>
    <script src="./dependencies/bootstrap.min.js" type="text/javascript"></script>

      <script src="./js/navbar.js" type="text/javascript"></script>

  </body>
</html>
