
<!DOCTYPE html>
<!--
  Note to contributors: Do not submit any changes to this page, as it is generated automatically
  from https://github.com/fossasia/open-event-scraper.
-->
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="{{ apptitle }} Schedule">
  <meta name="author" content="{{ metaauthor }}">

  <title>{{ apptitle }}</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/schedule.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

  <body>
    <a href="#rooms-list" class="skip">Skip to content</a>
    {{> scroll}}
    <a id="top"></a>
    {{> navbar}}

  <div class="main container">
    <div class="row">
      <div class="middle col-sm-12">
          <h2 class="filter-heading track-heading text-center">
            <span>
              Venue
            </span>
          </h2>
      </div>
    </div>
    <!-- --------------------------------------------------------------
        search-filter, search-filter-speaker and fossasia-filter
        These classes are designed for search tab.

        room-filter and date-filter classes are intended for searching
        text across the page.
        --------------------------------------------------------------- -->
    <p class="date-list">
        {{#timeList}}
          <span class="date-pill"><a href="./rooms.html#{{slug}}"> {{date}} </a></span>
        {{/timeList}}
        <span class="show-button-filter" >
          <button class = "btn btn-primary" id = "starred" style = "background-color:#eee; color:black; border-color:#333" >Show Starred</button>
        </span>
        <span class="search-filter">
            <input class="fossasia-filter" type="text" placeholder="Search" />
        </span>
    </p>
    <div id="session-list" class="container">
      <div class="row">
        <div style="margin: 15px 0 0 15px;" class="col-md-9">
                      {{> subnavbar flag = 0}}
          <div style="margin-top:4%" id="track-list">
            {{#roomsinfo}}
            <div class="date-filter" id="rooms-list">
                <div style="padding:0" class="row">
                  <div style="padding:0" class="col-md-12">
                    <a class="anchor" id="{{slug}}"></a>
                    <h5 class="text">{{date}}</h4>
                  </div>
                </div>
                <div class="row">
                  {{#sessions}}
                      <div class="room-filter" id="{{session_id}}">
                      <a class="anchor" id="venue-{{session_id}}"></a>
                      <div class="row">
                        <div style="clear:both" class="col-md-12">
                        {{#if venue }}
                        <h5 class="text">{{venue}}</h5>
                        {{/if}}
                        </div>
                      </div>
                      <div class="eventtime col-xs-2 col-sm-2 col-md-2">
                        <span class="time-track">{{start}} - {{end}}</span>
                      </div>
                      <div class="room-container">
                        <div class="left-border col-xs-10 col-sm-10 col-md-10"
			  style="padding-right: 0px; margin-bottom: -1px; padding-bottom:10px">
                          <div class = "sizeevent event" style = "background-color: {{{color}}}; font-size:18px; color:#333333; padding-top:10px; padding-bottom:10px;">
                          {{title}}
                          <a style = "cursor:pointer" class = "bookmark" >
                            <i class="fa fa-star" aria-hidden="true" style="margin-left: 5px;">
                            </i>
                          </a>
                          </div>
                          <h4 style="background-color:{{{color}}}; margin-top: -15px; padding-top: 15px"  class="sizeevent event" data-toggle="collapse"
                            data-target="#desc-{{session_id}} .collapse, #desc2-{{session_id}}"
                            aria-expanded="false"
                            aria-controls="desc-{{session_id}}">
                            {{#if audio}}
                               <i class="fa fa-music" aria-hidden="true" style="margin-left: 10px;"></i>
                            {{/if}}
			    <div id="desc2-{{session_id}}"
				class="collapse in"
				style="background-color:{{{color}}}; margin-top: 0px;">
				{{#speakers_list}}

				  {{#if photo}}
				    <p style="margin-right:20px; float:left" class="session-speakers">
		                      <img  onError="this.onerror=null;this.src='./images/avatar.png';" class="card-img-top" src="{{thumb}}" 						style="width:5rem; height:5rem; border-radius:50%;"/>
		             	    </p>
		             	  {{/if}}
		             	{{/speakers_list}}
		             	<ul style="padding:0;font-size:15px;">
		             	  {{#speakers_list}}
		             	    {{name}}
		             	    {{#if organisation}}
                        ({{organisation}}){{/if}}{{#if @last}}{{else}},{{/if}}
		             	 {{/speakers_list}}
		             	</ul>
		             	<ul style="padding:0;font-size:15px;">
                    {{#if type}}
                      {{type}}
                    {{else}}
                      <br>
                    {{/if}}
		             	</ul>
		             </div>
                          </h4>
                          <div id="desc-{{session_id}}">
                            <div class="collapse">
                              {{{description}}}
                              {{#if audio}}
                                <audio controls="" preload="none" style="display: block; margin-top: 15px">
                                <source src="{{ audio }}">
                                </audio>
                              {{/if}}
                            </div>
                          <hr style="clear:both" class="collapse">
                            <div class="session-speakers-list collapse"
                            aria-expanded="false"
                            aria-controls="desc-{{session_id}}">
                            {{#speakers_list}}
                              <a href="speakers.html#{{nameIdSlug}}">
                                <div class="session-speakers-less">
                                  <p style="margin-right:20px" class="session-speakers">
                                  {{#if photo}}
                                    <img onError="this.onerror=null;this.src='images/avatar.png';" class="card-img-top" src="{{thumb}}" style="width:10rem; height:10rem; border-radius:50%;"/>
                                  {{else}}
                                    <img class="card-img-top" src="images/avatar.png" style="width:10rem; height:10rem; border-radius:50%;"/>
                                  {{/if}}
                                  </p>
                                  <span class="graytext">{{name}}</span>
                                </div>
                              </a>
                              {{#if organisation}}
                                <p class="session-speakers-more">
                                {{organisation}}
                                </p>
                              {{/if}}
                              {{#if biography}}
                                <div class="session-speakers-more">
                                  {{{biography}}}
                                </div>
                              {{/if}}
                              <div class="blacktext session-speaker-social">
                                <div class="session-speakers-more">
                                  {{#if website}}
                                  <a class="blacktext social speaker-social" href="{{{website}}}"}>
                                    <i class="fa fa-home"></i> Web
                                  </a>&nbsp;
                                  {{/if}}
                                  {{#if github}}
                                  <a class="blacktext social speaker-social" href="{{{github}}}"}>
                                    <i class="fa fa-github"></i> Github
                                  </a>&nbsp;
                                  {{/if}}
                                  {{#if twitter}}
                                  <a class="blacktext social speaker-social" href="{{{twitter}}}"}>
                                    <i class="fa fa-twitter"></i> Twitter
                                  </a>&nbsp;
                                  {{/if}}
                                  {{#if linkedin}}
                                  <a class="blacktext social speaker-social" href="{{{linkedin}}}"}>
                                    <i class="fa fa-linkedin"></i> LinkedIn
                                  </a>&nbsp;
                                  {{/if}}
                                  <a class="session-lin blacktext social speaker-social clickable-link">
                                    <i class="fa fa-share"></i> Share
                                  </a>
                                  <div class="social-buttons row">
                                   {{> social}}
                                   <div class="row social-link">
                                     <input class="speakers-inputbox" type="text" onclick="this.select()" value="base#venue-{{../session_id}}" readonly>
                                   </div>
                                  </div>
                                </div>
                              </div>
                              <hr style="clear:both">
                              {{/speakers_list}}
                              <div class="blacktext">
                                {{#if roomname}}
                                <p><i>{{roomname}}</i></p>
                                {{/if}}
                                {{#if sessiondate}}
                                <p>{{sessiondate}}, <span>{{start}} - {{end}}</span></p>
                                {{/if}}
                                <p>
                                  <ul class="title-inline">
                                    <li  style="background-color:{{{color}}}" class="titlecolor"></li>&nbsp;
                                    <li class="blacktext">{{tracktitle}}</li>
                                  </ul>
                                </p><br>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  {{/sessions}}
                </div>
            </div>
            {{/roomsinfo}}
          </div>
        </div>
        <div class="track-names">
        {{#tracknames}}
        {{#if title}}
          <ul class="title-inline title-legend">
            <li  style="background-color:{{{color}}}" class="titlecolor"></li>
            <li>{{title}}</li>
          </ul>
        {{/if}}
        {{/tracknames}}
        </div>
      </div>
    </div>
  </div>

    {{> footer}}
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js" type="text/javascript"></script>
    <script src="./js/navbar.js" type="text/javascript"></script>
    <script src="./js/scroll.js" type="text/javascript"></script>
    <script src="./js/social.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        $('.session-lin').click(function() {
          $(this).parent().parent().find("div.social-buttons").toggle();
          var val = $(this).parent().parent().find('.speakers-inputbox').val();
          $(this).parent().parent().find('.speakers-inputbox').val(window.location.href.split('#')[0] + '#'  + val.split('#').pop());
        });

        $('.session-lin').click(function(e) {
          e.stopPropagation();
        });

        $('.speakers-inputbox').click(function(e) {
          e.stopPropagation();
        });

        $('.fossasia-filter:first').change(function() {
          var filterVal = $(this).val();
          if (filterVal) {
            $('.date-filter').each(function() {
              var flag = 1;
              $(this).find('.room-filter').each(function() {
                if ($(this).find('.tip-description').text().toUpperCase().indexOf(filterVal.toUpperCase()) < 0 &&
                    $(this).find('.session-speakers-list a span').text().toUpperCase().indexOf(filterVal.toUpperCase()) < 0 &&
                    $(this).find('.session-speakers-more').text().toUpperCase().indexOf(filterVal.toUpperCase()) < 0 &&
                    $(this).find('.event').text().toUpperCase().indexOf(filterVal.toUpperCase()) < 0) {
                  $(this).hide();
                } else {
                  flag = 0;
                  $(this).show();
                }
              });
              if (flag == 1) {
                $(this).hide();
              } else {
                $(this).show();
              }
            });
          } else {
            $('.date-filter').each(function() {
              $(this).find('.room-filter').each(function() {
                $(this).show();
              });
              $(this).show();
            });
          }

          // show "no results" if search input value matches zero items
          if ($('.date-filter:visible').length == 0) {
            $('#no-results').remove();
            $('.search-filter:first').after('<p id="no-results">No matching results found.</p>');
          } else {
            $('#no-results').remove();
          }
          return false;
        }).keyup(function() {
          $(this).change();
        });
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
        var maxNoOfSessions = 1000;
        var flag = 0;
        var isAdded = 0;
        var mode = 0;

        $('.bookmark').click(function(){
          flag = 1;
          var curColor = $(this).css("color");
          if (curColor == "rgb(0, 0, 0)") {
            $(this).css("color", "");
            isAdded = 0;
          }
          else {
            $(this).css("color", "black");
            isAdded = 1;
          }
        });

        $('.room-filter').click(function(){
          var temp = JSON.parse(localStorage['rooms']);
          var id = Number($(this).attr('id'));
          if (flag) {
            if (isAdded) {
              temp[id] = 1;
            }
            else {
              temp[id] = 0;
              if(mode) {
                $(this).hide();
              }
            }
            localStorage['rooms'] = JSON.stringify(temp);
            flag = isAdded = 0;
          }
        });

        $('#starred').click(function() {
          mode = !mode;
          if(mode)
            $(this).text("Show All");
          else
            $(this).text("Show Starred");
          display();
        });

        $('div.sizeevent').click(function() {
          if(flag) return;
          var $par = $(this).parent();
          $par.children('h4')[0].click();
        });

        function display() {
          if(localStorage.hasOwnProperty('rooms') === false) {
            localStorage['rooms'] = JSON.stringify(new Array(maxNoOfSessions).fill(0));
          }
          var temp = JSON.parse(localStorage['rooms']);
          $('.date-filter').each(function() {
            var dateFlag = 0;
            $(this).find('.room-filter').each(function() {
              var elemId = $(this).attr('id');
              var elemFlag = 0;
              if(temp[elemId] == 1) {
                elemFlag = dateFlag = 1;
                $(this).find('.bookmark').each(function() {
                  $(this).css("color", "black");
                });
              }

              if (elemFlag || !mode) {
                $(this).show();
              }
              else {
                $(this).hide();
              }
            });

            if(dateFlag || !mode) {
              $(this).show();
            }
            else {
              $(this).hide();
            }
          });
        }
        display();
      });
    </script>
  </body>
      <script type="text/javascript" src = "./js/tabs.js"></script>
</html>
