
<!DOCTYPE html>
<!--
  Note to contributors: Do not submit any changes to this page, as it is generated automatically
  from https://github.com/fossasia/open-event-scraper.
-->
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="{{ apptitle }} Schedule">
  <meta name="author" content="{{ metaauthor }}">

  <title>{{ apptitle }}</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
 <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon" />
 <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
 <link rel="stylesheet" href="./css/bootstrap.min.css">
 <link rel="stylesheet" href="./css/schedule.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
  <body style="background-color: #f8f8f8 !important;">
    <a href="#speakers-list" class="skip">Skip to content</a>
    {{> scroll}}
  <a id="top"></a>
    {{> navbar}}

<div class="main container" style="background-color: #fff; padding: 2%">
    <div class="row">
      <div class="middle col-sm-12">
          <h2 class="filter-heading track-heading text-center">
          <span>
            Speakers
          </span>
          </h2>
      </div>
    </div>
    <!-- --------------------------------------------------------------
        search-filter, search-filter-speaker and fossasia-filter
        These classes are designed for search tab.
        --------------------------------------------------------------- -->
    <div class=row>
        <div class="search-filter-speaker" id="speakers-list">
            <input class="fossasia-filter" type="text" placeholder="Search" />
		    </div>
    </div>

  <div class="row speakers-row">
  {{#speakerslist}}
    <div class="col-md-3 col-sm-6 speaker-column">
      <div class="speaker">
        <div class="image-holder">
         <a class="anchor" id="{{nameIdSlug}}"></a>
          {{#if photo}}
          <img onError="this.onerror=null;this.src='images/avatar.png';" data-original="{{{photo}}}" class="lazy background-image" alt="{{{name}}}" />
          {{else}}
          <img class="background-image" alt="{{{name}}}" src="images/avatar.png"/>
          {{/if}}
            <div class="responsive-overlay">
              <div class="text-center preserve3d">
                 <div class="bio vertical-align">

                  </div>
                 <div class="social-links vertical-align">
                 {{#if website}}
                  <a href="{{website}}"><i class="icon fa fa-external-link"></i></a>
                  {{/if}}
                  {{#if github}}
                  <a href="{{github}}"><i class="icon fa fa-github"></i></a>
                  {{/if}}
                  {{#if twitter}}
                  <a href="{{twitter}}"><i class="icon fa fa-twitter"></i></a>
                  {{/if}}
                  {{#if linkedin}}
                  <a href="{{linkedin}}"><i class="icon fa fa-linkedin"></i></a>
                  {{/if}}
                 </div>
              </div>
            </div>
          </div>
          <div class="pop-box hide">
            <div class="arrow">
              <span></span>
            </div>
            <div class="pop-container" style="color:black";>
              <div class="pop">
                <div class="pop-header">
                  <span class="s-popup-header-name"><strong>{{{name}}}</strong>
                    {{#if organisation}}
                        {{#ifvalue organisation notequals=""}}
                            ({{{organisation}}})
                        {{/ifvalue}}
                    {{/if}}</span>
                </div>
                <div class="pop-over row">
                 {{{long_biography}}}
                   <div style="padding:2%;" class="icons row">
                   {{#if website}}
                  <div class="col-xs-1 col-sm-1 col-md-1"><a href="{{{website}}}"><i class="fa fa-home"></i></a></div>
                  {{/if}}
                   {{#if github}}
                  <div class="col-xs-1 col-sm-1 col-md-1"><a href="{{{github}}}"><i class="fa fa-github"></i></a></div>
                  {{/if}}
                  {{#if twitter}}
                  <div class="col-xs-1 col-sm-1 col-md-1"><a href="{{{twitter}}}"><i class="fa fa-twitter"></i></a></div>
                  {{/if}}
                  {{#if linkedin}}
                  <div class="col-xs-1 col-sm-1 col-md-1"><a href="{{{linkedin}}}"><i class="fa fa-linkedin"></i></a></div>
                  {{/if}}
                  <a class="session-link clickable-link">
                      <div class="col-xs-1 col-sm-1 col-md-1"><i class="fa fa-share"></i></div>
                  </a>
                 </div>
                 <div class="social-buttons-speaker row">
                  {{> social}}
                  <div class="row social-link">
                    <input class="speakers-inputbox" type="text" onclick="this.select()" value="base#{{nameIdSlug}}" readonly\>
                  </div>
                 </div>
                </div>
                <hr style="clear:both;width:75%;">
                <h4 style="padding-left:20px" class="text"><strong>Sessions</strong></h4>
                <div class="pop-speakers">
                 <div class="pop-over row">
                   <div class="sessions col-xs-12 col-md-12">
                   {{#each sessions}}
                  <h5>
                    <strong>
                    {{date}}
                    <span style="font-size:12px;font-weight:normal;margin:6px 0;">{{microlocation}}</span>
                    </strong>
                  </h5>
                  <a href="tracks.html#{{session_id}}">
                   <h4 style="background-color:{{{color}}};"  class="sizeevent event">
                    <span class="time-track">{{start}} - {{end}}&nbsp;&bull;&nbsp;</span>
                      <span>{{{title}}}</span>
                    </h4>
                  </a>
                   {{/each}}
                   <center><h5 class="card-text"></h5></center>
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="speaker-name">{{{name}}}</span>
          <span class="speaker-name" style="color: #777777">{{{organisation}}}</span>
      </div>
    </div>
    {{/speakerslist}}
  </div>
</div>
    {{> footer}}
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="./js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="./js/popover.js"></script>
    <script src="./js/navbar.js" type="text/javascript"></script>
    <script src="./js/scroll.js" type="text/javascript"></script>
    <script src="./js/social.js" type="text/javascript"></script>
    <script type="text/javascript">
       $(document).ready(function(){

       $(function() {
           $("img.lazy").lazyload();
       });

        $('.session-link').click(function() {
            $(this).parent().parent().find("div.social-buttons-speaker").toggle();
            var val = $(this).parent().parent().find('.speakers-inputbox').val();
            $(this).parent().parent().find('.speakers-inputbox').val(window.location.href.split('#')[0] + '#'  + val.split('#').pop());
        });
        $('.fossasia-filter:first').change(function() {
                var filterVal = $(this).val();
                if (filterVal) {
                    $('.speaker').each(function() {
                        if ($(this).find('.speaker-name').text().toUpperCase().indexOf(filterVal.toUpperCase()) < 0 &&
                            $(this).find('.pop-over').text().toUpperCase().indexOf(filterVal.toUpperCase()) < 0) {
                             $(this).parent().hide();
                         } else {
                             $(this).parent().show();
                         }
                    });
                } else {
                    $('.speaker').each(function() {
                        $(this).parent().show();
                    });
                }

                // show "no results" if search input value matches zero items
                if ($('.speaker:visible').length == 0) {
                    $('#no-results').remove();
                    $('.search-filter-speaker:first').after('<p id="no-results">No matching results found.</p>');
                } else {
                    $('#no-results').remove();
                }
                return false;
            }).keyup(function() {
                $(this).change();
        });
      });
    </script>
  </body>
</html>
