<!DOCTYPE html>
<!--
  Note to contributors: Do not submit any changes to this page, as it is generated automatically
  from https://github.com/fossasia/open-event-scraper.
-->
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="{{ apptitle }} Schedule">
  <meta name="author" content="{{ metaauthor }}">

  <title>{{ apptitle }}</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
 <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="./dependencies/font-awesome.min.css">
  <link rel="stylesheet" href="./dependencies/bootstrap.min.css">
  <link rel="stylesheet" href="./css/schedule.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <a id="top"></a>  
      {{> navbar}}


  <div id="session-list" class="main container">
    <div class="row">
      <div class="middle col-sm-12">
        <h2 class="filter-heading track-heading text-center">
          <span>
            Tracks
          </span>
        </h2>
      </div>
    </div>
     
      <p class="date-list">
      {{#days}}
      <span class="date-pill"><a href="./tracks.html#{{firstSlug}}"> {{caption}} </a></span>
      {{/days}}
      </p>
       
    <div id="session-list" style="margin-top: 4%;" class="container">    
      {{#tracks}}
      <div class="row">
        <div class="col-md-12">

          <a class="anchor" id="{{slug}}"></a>
          <h3  class="text">{{title}}</h3>
          <h5 class="text">{{date}}</h5>

          <ul class="list-group session-list">
            {{#sessions}}
            <li class="list-group-item" data-session-id="{{session_id}}">
              <div class="row"
              data-toggle="collapse"
              data-target="#desc-{{session_id}} .collapse"
              aria-expanded="false"
              aria-controls="desc-{{session_id}}">

              <div class="col-xs-2 col-md-1">
                <span style="background-color: {{../color}}" class="time-alert session-start label label-primary">
                  {{start}}
                </span>
              </div>

              <div class="sessions col-xs-10 col-md-11">
                <div class="clearfix">
                  <a class="anchor" name="{{session_id}}"></a>
                  <h4 class="session-title">
                    {{title}}&nbsp;
                    <a class="session-link" href="#{{session_id}}">
                      <i class="fa fa-link"></i>
                    </a>
                    <input class="inputbox" type="text" onclick="this.select()" value="base#{{session_id}}" style="display:none;">
                    {{#if video}}
                    <a class="video-link" href="{{video}}" target="_blank">
                      <i class="fa fa-youtube-play fa-2x"></i>
                    </a>
                    {{/if}}
                    {{#if slides}}
                    <a class="slide-link" href="{{slides}}" target="_blank">
                      [Slides]
                    </a>
                    {{/if}}
                    {{#if sign_up}}
                    <a href="{{sign_up}}" class="btn btn-xs btn-sign-up"> Sign up </a>
                    {{/if}}
                  </h4>
                  <p class="session-location">
                    {{location}}
                  </p>
                </div>
                <p class="audio-player">
                  {{#if audio}}
                  <audio controls preload="none">
                    <source src="{{audio}}" type="audio/mpeg">
                  </audio>
                  {{/if}}
                </p>
                {{#speakers_list}}

                  {{#if photo}}  
                <p style="margin-right:20px" class="session-speakers">
                        <a href="speakers.html#{{nameIdSlug}}">
                        <img  onError="this.onerror=null;this.src='./dependencies/avatar.png';" class="card-img-top" src="{{photo}}" style="width:5rem; height:5rem; border-radius:50%;"/>
                        </a>
                </p>
                  {{/if}}
                  {{/speakers_list}}
                  <ul style="padding:0">
                  {{#speakers_list}}
                   <li><a href="speakers.html#{{id}}">
                   {{name}}
                   {{#if organisation}}
                   ({{organisation}})
                   {{/if}}
                   </a></li>
                  {{/speakers_list}}
                  </ul>
                </p>

                  <span class="session-type">{{type}}</span>
                </p>
                <div class="session-id" id="desc-{{session_id}}">
                  <p class="collapse">
                    <span class="session-description">{{{description}}}</span>
                  </p>
                  <div class="session-speakers-list collapse">
                    {{#speakers_list}}
                    {{#if long_biography}}
                    <p class="session-speakers-less">
                      <span class="session-description">About {{name}}:</span>
                    </p>
                    <div class="session-speakers-more">
                      <p>
                        <span class="session-description">{{{long_biography}}}</span>
                      </p>
                      <p class="session-speaker-social">
                      {{#if web}}
                        <a class="social speaker-social" href="{{{web}}}"}>
                          <i class="fa fa-home"></i> Web
                        </a>
                      {{/if}}
                      {{#if github}}
                        <a class="social speaker-social" href="{{{github}}}"}>
                          <i class="fa fa-github"></i> Github
                        </a>
                      {{/if}}
                      {{#if twitter}}
                        <a class="social speaker-social" href="{{{twitter}}}"}>
                          <i class="fa fa-twitter"></i> Twitter
                        </a>
                       {{/if}}
                       {{#if linkedin}} 
                        <a class="social speaker-social" href="{{{linkedin}}}"}>
                          <i class="fa fa-linkedin"></i> LinkedIn
                        </a>
                        {{/if}}
                        
                      </p>
                    </div>
                    {{/if}}
                    {{/speakers_list}}
                  </div>
                </div>

              </div><!-- /.row -->
            </li><!-- /.list-group-item -->
            {{/sessions}}
          </ul>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
      {{/tracks}}
    </div>
   </div>
    {{> footer}}
  

    <script src="./dependencies/jquery.min.js"></script>
    <script src="./dependencies/bootstrap.min.js" type="text/javascript"></script>

      <script src="./js/navbar.js" type="text/javascript"></script>
      <script src="./js/scroll.js" type="text/javascript"></script>

      <script type="text/javascript">
       $(document).ready(function(){

        $('.session-link').click(function() {
            $(this).next('.inputbox').toggle().select();
            var val = $(this).next('.inputbox').val();
            $(this).next('.inputbox').val(window.location.href.split('#')[0] + '#'  + val.split('#').pop());
        });
      });
    </script>
 
</body>
</html>
