<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preload" as="script" href="./js/jquery.min.js">
    <link rel="preload" as="script" href="./js/bootstrap.min.js">
    <link rel="preload" as="script" href="./js/tracks.min.js">
    <link rel="preload" as="style" href="./css/schedule.css">
    <link rel="preload" as="style" href="./css/font-awesome.min.css">
    <link rel="preload" as="style" href="./css/bootstrap.min.css">
    <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" crossorigin>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="{{ apptitle }} Schedule">
    <meta name="author" content="{{ metaauthor }}">

    <title>{{ apptitle }}</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/schedule.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <a href="#track-list" class="skip">Skip to content</a>
    {{> scroll}}
    <a id="top"></a>
    {{> navbar}}

    <div id="session-list" class="main container">
      <div class="row">
        <div class="middle col-sm-12">
          <h2 class="filter-heading track-heading text-center">
            <span>Tracks</span>
          </h2>
        </div>
      </div>
      <!-- --------------------------------------------------------------
      search-filter, search-filter-speaker and fossasia-filter
      These classes are designed for search tab.
      day-filter and session-filter classes are intended for searching
      text across the page.
      --------------------------------------------------------------- -->
      <div class="date-list container">
        <div id="tabs" class="col-md-8 col-xs-12 col-sm-12 tabs no-js">
          <span class="tabs-nav">
            {{#days}}
              <a href="./tracks.html#{{firstSlug}}" class="tabs-nav-link">{{caption}}</a>
            {{/days}}
          </span>
        </div>
        <div class = "col-md-4 col-sm-12 col-xs-12 navbar-flex">
          <div class="search-filter search-filter-room filter-margin">
               <label for="search-input"><i class="fa fa-search" aria-hidden="true"></i></label>
               <input class="fossasia-filter" type="text" placeholder="Search">
         </div>

          <div class="show-button-filter">
              <button class = "btn btn-primary" id = "starred" ><i class="fa fa-star" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div id="filterInfo" class="container">
        TYPE: <span id="curFilter" style="font-weight:bold;"> </span> <a href="#" id="clearFilter">  [Clear Filter]</a>
      </div>
      <div id="session-list" class="container">
        <div class="row">
          <div id="content-block" class="col-md-9 col-sm-9">
            <div id="track-list">
              {{#days}}
               <a class="anchor" id="{{firstSlug}}"></a>
               <div class="date-filter">
                <div class="row paddingzero">
                  <div class="col-md-12 paddingzero">
                    <h5 class="text">{{caption}}</h4>
                  </div>
                </div>
                {{#tracks}}
                  <div class="track-filter row">
                    <div class="row">
                      <div class="clear-both col-md-12">
                        {{#if title }}
                          <a class="anchor" id="{{slug}}"></a>
                          <h4 class="text">{{title}}</h5>
                        {{/if}}
                      </div>
                    </div>
                    {{#sessions}}
                      <div class="room-filter" id="{{session_id}}">
                        <a class="anchor"></a>
                        <div class="row">
                          <!-- check next line -->
                          <div class="clear-both col-md-12">
                            {{#if venue }}
                              <h5 class="text">{{venue}}</h5>
                            {{/if}}
                          </div>
                        </div>
                        <div class="eventtime col-xs-2 col-sm-2 col-md-2">
                          <span class="time-track">{{start}} - {{end}}</span>
                        </div>
                        <div class="room-container">
                          <div class="left-border col-xs-10 col-sm-10 col-md-10">
                            {{#if ../../../mode}}
                              <div class="sizeevent event event-title" id="title-{{session_id}}"  style="background-color: {{../color}}; color:{{../font_color}};">
                            {{else}}
                              <div class="sizeevent event event-title" id="title-{{session_id}}"  style="background-color: {{../color}}; color:{{../font_color}};" data-toggle="collapse" data-target="#desc-{{session_id}}, #desc2-{{session_id}}">
                            {{/if}}
                              <div class="margin-down-15">{{title}}</div>
                              <a class="bookmark" id="b{{session_id}}">
                                <i class="fa fa-star" aria-hidden="true">
                                </i>
                              </a>
                              {{#if audio}}
                                <i class="fa fa-music" aria-hidden="true"></i>
                              {{/if}}
                              <div id="desc2-{{session_id}}" class="collapse in"
                                style="background-color: {{../color}}; color: {{../font_color}};">
                                <div class="row">
                                  {{#if speakers_list.length}}
                                    <div class="speakers-list">
                                      {{#speakers_list}}
                                        <p class="session-speakers session-speakers-item">
                                          {{#if photo}}
                                            <img onError="this.onerror=null;this.src='./images/avatar.png';"
                                            data-original="{{thumb}}" class="lazy card-img-top speaker-image-small"/>
                                          {{else}}
                                            <img class="card-img-top speaker-image-small" src="./images/avatar.png"/>
                                          {{/if}}
                                        </p>
                                      {{/speakers_list}}
                                    </div>
                                  {{/if}}
                                  <div class="speaker-short-info">
                                    <ul class="speaker-name-list">
                                      {{#speakers_list}}
                                        {{name}}{{#if organisation}}&nbsp;({{position}} {{organisation}}){{/if}}{{#if @last}}{{else}},{{/if}}
                                      {{/speakers_list}}
                                    </ul>
                                    <ul class="speaker-name-list">{{type}}</ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div id="desc-{{session_id}}" class="collapse">
                              {{{description}}}
                              {{#if audio}}
                                <audio controls="" id="audio-block" preload="none">
                                  <source src="{{ audio }}">
                                </audio>
                              {{/if}}
                              <hr class="clear-both">
                              <div class="session-speakers-list" aria-expanded="false"
                                aria-controls="desc-{{session_id}}">
                                {{#speakers_list}}
                                  <a href="speakers.html#{{nameIdSlug}}">
                                    <div class="session-speakers-less">
                                      <p class="session-speakers">
                                        {{#if photo}}
                                          <img onError="this.onerror=null;this.src='./images/avatar.png';"
                                          data-original="{{thumb}}" class="lazy card-img-top speaker-image-large"/>
                                        {{else}}
                                          <img class="card-img-top speaker-image-large" src="./images/avatar.png"/>
                                        {{/if}}
                                      </p>
                                      <span class="graytext">{{name}}</span>
                                    </div>
                                  </a>
                                  {{#if organisation}}
                                    <p class="session-speakers-more">{{position}} {{organisation}}</p>
                                  {{/if}}
                                  {{#if biography}}
                                    <div class="session-speakers-more">
                                      {{{biography}}}
                                    </div>
                                  {{/if}}
                                  <div class="blacktext session-speaker-social">
                                    <div class="session-speakers-more">
                                      {{#if web}}
                                        <a class="blacktext social speaker-social" href="{{{web}}}"><i
                                            class="fa fa-home"></i> Web</a>&nbsp;
                                      {{/if}}
                                      {{#if github}}
                                        <a class="blacktext social speaker-social" href="{{{github}}}"><i
                                            class="fa fa-github"></i> Github</a>&nbsp;
                                      {{/if}}
                                      {{#if twitter}}
                                        <a class="blacktext social speaker-social" href="{{{twitter}}}"><i
                                            class="fa fa-twitter"></i> Twitter</a>&nbsp;
                                      {{/if}}
                                      {{#if linkedin}}
                                        <a class="blacktext social speaker-social" href="{{{linkedin}}}"><i
                                            class="fa fa-linkedin"></i> LinkedIn</a>&nbsp;
                                      {{/if}}
                                      <a class="session-lin social speaker-social clickable-link">
                                        <i class="fa fa-share"></i> Share
                                      </a>&nbsp;
                                      <div class="social-buttons row">
                                        {{> social}}
                                        <div class="row social-link">
                                          <input class="speakers-inputbox" type="text" onclick="this.select()"
                                          value="base#{{../session_id}}" readonly>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <hr class="clear-both">
                                {{/speakers_list}}
                                <div class="blacktext">
                                  {{#if location}}<p><i>{{location}}</i></p>{{/if}}
                                  {{#if ../date}}<p>{{../date}}, <span>{{start}} - {{end}}</span></p>{{/if}}
                                  <p>
                                    <ul class="title-inline">
                                      <li style="background-color:{{{../color}}};color:{{{../font_color}}};"
                                        class="titlecolor"></li>
                                      &nbsp;
                                      <li class="blacktext">{{../title}}</li>
                                    </ul>
                                  </p><br>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {{/sessions}}
                  </div>
                {{/tracks}}
                </div>
              {{/days}}
            </div>
          </div>
          <div class="track-room-names col-md-3 col-sm-3">
            {{#tracknames}}
              {{#if title}}
                <div class="track-info">
                  <span style="background-color: {{color}};" class="titlecolor"></span>
                  <span class="track-name">{{title}}</li>
                </div>
              {{/if}}
            {{/tracknames}}
          </div>
        </div>
      </div>
    </div>

    {{> footer}}

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js" type="text/javascript"></script>
    <script src="./js/tracks.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      var eventName = "{{eventurls.name}}";
      var flag = 0;
      var isAdded = 0;
      var mode = 0;
      var trackFilterMode = 0;
      var trackName;
      // Mode is true if the page is in starred view.

      $(function () {
        $("img.lazy").lazyload({
          threshold: 2000
        });
      });

      $(document).ready(function () {

        $('.session-lin').click(function (e) {
          e.stopPropagation();
        });

        $('.session-lin').click(function () {
          $(this).parent().parent().find("div.social-buttons").toggle();
          var val = $(this).parent().parent().find('.speakers-inputbox').val();
          $(this).parent().parent().find('.speakers-inputbox').val(window.location.href.split('#')[0] + '#' + val.split('#').pop());
        });

        $('#clearFilter').click(function() {
          trackFilterMode = 0;
          display();
          $('#filterInfo').hide();
        });

        $('.track-name').click(function() {
          var filterVal;
          var temp = JSON.parse(localStorage[eventName]);
          var sidebarDiv = $('.side-collapse');
          if (!sidebarDiv.hasClass('in'))
            sidebarDiv.addClass('in');

          trackName = $(this).text();
          trackFilterMode = 1;

          $('.fossasia-filter').each(function() {
            if($(this).is(':visible')) {
              filterVal = $(this).val();
            }
          });

          $('#filterInfo').show();
          $('#curFilter').text(trackName);
          $('.date-filter').each(function() {
            var flag = 0;
            $(this).find('.track-filter').each(function() {
              var name = $(this).find('.text').text();
              if(name != trackName) {
                $(this).hide();
                return;
              }
              $(this).find('.room-filter').each(function() {
                var id = $(this).attr('id');
                var elemFlag = 0;
                if ($(this).find('.tip-description').text().toUpperCase().indexOf(filterVal.toUpperCase()) >= 0 ||
                  $(this).find('.session-speakers-list a span').text().toUpperCase().indexOf(filterVal.toUpperCase()) >= 0 ||
                  $(this).find('.session-speakers-more').text().toUpperCase().indexOf(filterVal.toUpperCase()) >= 0 ||
                  $(this).find('.event').text().toUpperCase().indexOf(filterVal.toUpperCase()) >= 0) {
                  elemFlag = 1;
                  if(mode && temp[id] != 1) {
                    elemFlag = 0;
                  }
                }
                if(elemFlag == 1) {
                  flag = 1;
                  $(this).show();
                }
                else {
                  $(this).hide();
                }
              });
              if(flag) {
                $(this).show();
                $(this).children('.row').hide();
              } else {
                $(this).hide();
              }
            });
            if(flag) {
              $(this).show();
            } else {
              $(this).hide();
            }
          });
          $('html, body').animate({scrollTop: 0}, 500);
        });

        $('.speakers-inputbox').click(function (e) {
          e.stopPropagation();
        });

        $('.fossasia-filter').change(function () {
          var filterVal = $(this).val();
          var temp = JSON.parse(localStorage[eventName]);
          $('.date-filter').each(function () {
            var flag = 1;
            $(this).find('.track-filter').each(function () {
              var flagTrack = 1;
              var name = $(this).find('.text').text();
              if(trackFilterMode && (name != trackName)) {
                $(this).hide();
                return;
              }
              $(this).find('.room-filter').each(function () {
                var id = $(this).attr('id');
                var elemFlag = 1;
                if ($(this).find('.tip-description').text().toUpperCase().indexOf(filterVal.toUpperCase()) >= 0 ||
                  $(this).find('.session-speakers-list a span').text().toUpperCase().indexOf(filterVal.toUpperCase()) >= 0 ||
                  $(this).find('.session-speakers-more').text().toUpperCase().indexOf(filterVal.toUpperCase()) >= 0 ||
                  $(this).find('.event').text().toUpperCase().indexOf(filterVal.toUpperCase()) >= 0) {
                  elemFlag = 0;
                  if(mode && temp[id] != 1) {
                    elemFlag = 1;
                  }
                }
                if(elemFlag == 0) {
                  flagTrack = flag = 0;
                  $(this).show();
                }
                else {
                  $(this).hide();
                }
              });
              if (flagTrack == 1) {
                $(this).hide();
              } else {
                $(this).show();
                var trackHeading = $(this).children('.text');

                if(trackFilterMode) {
                  trackHeading.hide();
                } else {
                  trackHeading.show();
                }
              }
            });
            if (flag == 1) {
              $(this).hide();
            } else {
              $(this).show();
            }
          });
          // show "no results" if search input value matches zero items
          if ($('.date-filter:visible').length == 0) {
            $('#no-results').remove();
            $('.search-filter:first').after('<p id="no-results">No matching results found.</p>');
          } else {
            $('#no-results').remove();
          }
          return false;
        }).keyup(function () {
          $(this).change();
        });

        $('.bookmark').click(function (event) {
          var temp = JSON.parse(localStorage[eventName]);
          var curColor = $(this).css("color");
          var id = $(this).attr('id').substring(1);
          flag = 1;

          if (curColor == "rgb(0, 0, 0)") {
            temp[id] = 0;
            $(this).css("color", "");
            if(mode) $('#' + id).hide();
          } else {
            $(this).css("color", "black");
            temp[id] = 1;
          }

          localStorage[eventName] = JSON.stringify(temp);
          event.stopPropagation();
        });

        $('#starred').click(function () {
          mode = !mode;
          if(!mode) {
            $(this).css("color", "black");
            $('#starred').css("background-color","#eee");
          }
          else {
            $(this).css("color", "white");
            $('#starred').css("background-color","#838282");
          }
          display();
        });

        $('.room-filter').click(function () {
          var sessionMode = "{{mode}}";
          var id =  $(this).attr('id');
          if(sessionMode == 'single') {
            var curUrl = window.location.href;
            var newUrl = curUrl.substring(0, curUrl.lastIndexOf('/') + 1) + 'sessions/session_' + id + ".html";
            window.location.href = newUrl;
          }
        });

        function display() {
          var temp = JSON.parse(localStorage[eventName]);

          $('.date-filter').each(function () {
            var dateFlag = 0;
            $(this).find('.track-filter').each(function () {
              var trackFlag = 0;
              var name = $(this).find('.text').text();
              if(trackFilterMode && name != trackName) {
                $(this).hide();
                return;
              }
              $(this).find('.room-filter').each(function () {
                var elemId = $(this).attr('id');
                var bookFlag = 0, searchFlag = 0, elemFlag = 0;
                var filterVal;

                $('.fossasia-filter').each(function() {
                  if($(this).is(':visible')) {
                    filterVal = $(this).val();
                  }
                });

                if ($(this).find('.tip-description').text().toUpperCase().indexOf(filterVal.toUpperCase()) >= 0 ||
                  $(this).find('.session-speakers-list a span').text().toUpperCase().indexOf(filterVal.toUpperCase()) >= 0 ||
                  $(this).find('.session-speakers-more').text().toUpperCase().indexOf(filterVal.toUpperCase()) >= 0 ||
                  $(this).find('.event').text().toUpperCase().indexOf(filterVal.toUpperCase()) >= 0) {
                  searchFlag = 1;
                  if (temp[elemId] == 1) {
                    bookFlag = 1;
                    $(this).find('.bookmark').each(function () {
                      $(this).css("color", "black");
                    });
                  }
                }

                if((mode && searchFlag && bookFlag) || (!mode && searchFlag)) {
                  elemFlag = trackFlag = dateFlag = 1;
                }

                if (elemFlag) {
                  $(this).show();
                }
                else {
                  $(this).hide();
                }
              });
              if (trackFlag) {
                $(this).show();
                var trackHeading = $(this).children('.text');
                if(trackFilterMode) {
                  trackHeading.hide();
                } else {
                  trackHeading.show();
                }
              }
              else {
                $(this).hide();
              }
            });
            if (dateFlag) {
              $(this).show();
            }
            else {
              $(this).hide();
            }
          });
        }

        function initPage() {
          if(localStorage.hasOwnProperty(eventName) === false) {
            localStorage[eventName] = '{}';
          }
          var temp = JSON.parse(localStorage[eventName]);
          var elemId;
          Object.keys(temp).forEach(function(key) {
            if (temp[key] == 1) {
              elemId = $('#' + key).find('.bookmark').css("color", "black");;
            }
          });
        }
        initPage();
      });
    </script>
  </body>
</html>
