
<!-- Fixed navbar -->
<header role="banner" class="navbar-fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header navbar-left pull-left">
      {{#if single_session}}
       <a class="navbar-brand" href="../">
      {{else}}
       <a class="navbar-brand" href=".">
      {{/if}}
        {{#if eventurls.logo_url}}
          <img alt="{{eventurls.name}}" class="logo logo-dark" src="{{ eventurls.logo_url }}">
        {{else}}
          {{ eventurls.name }}
        {{/if}}
      </a>
    </div>

    <div class="navbar-header navbar-right pull-right">
        <button data-toggle="collapse-side" data-target=".side-collapse" type="button" class="navbar-toggle pull-right">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="hidden-lg hidden-md hidden-sm clearfix"></div>
    <div class="side-collapse in">
      <nav role="navigation" class="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {{#if single_session}}
          <li class="navlink"><a id="homelink" href="../index.html">Home</a></li>
        {{else}}
          <li class="navlink"><a id="homelink" href="index.html">Home</a></li>
        {{/if}}
        {{#if timeList}}
          {{#if single_session}}
          <li class="navlink"><a id="schedulelink" href="../schedule.html">Schedule</a></li>
          {{else}}
          <li class="navlink"><a id="schedulelink" href="schedule.html">Schedule</a></li>
          {{/if}}
        {{/if}}
        {{#if tracks}}
          {{#if single_session}}
          <li class="navlink"><a id="trackslink" href="../tracks.html">Tracks</a></li>
          {{else}}
          <li class="navlink"><a id="trackslink" href="tracks.html">Tracks</a></li>
          {{/if}}
        {{/if}}
        {{#if roomsinfo}}
          {{#if single_session}}
          <li class="navlink"><a id="roomslink" href="../rooms.html">Rooms</a></li>
          {{else}}
          <li class="navlink"><a id="roomslink" href="rooms.html">Rooms</a></li>
          {{/if}}
        {{/if}}
        {{#if speakerslist}}
          {{#if single_session}}
          <li class="navlink"><a id="speakerslink" href="../speakers.html">Speakers</a></li>
          {{else}}
          <li class="navlink"><a id="speakerslink" href="speakers.html">Speakers</a></li>
          {{/if}}
        {{/if}}

        {{#sociallinks}}
          {{#if show}}
            <li class="pull-left social-icons"><a href="{{link}}" id="social-icons"><i class="fa fa-lg fa-{{icon}}" aria-hidden="true" title="{{{icon}}}"></i></a></li>
          {{/if}}
        {{/sociallinks}}

      </ul>
    </nav>
    </div>
  </div>
</header>
