{{#if flag}}
<div id="tabs" class="tabs no-js">
   <div class="tabs-nav">
      {{#days}}
      <a href="#" class="tabs-nav-link">{{caption}}</a>
      {{/days}}
   </div>
   {{#days}}
   <div class="tab">
      <div class="tab-content">{{#tracks}}<a href = "./tracks.html#{{slug}}">{{title}}  </a>{{/tracks}}</div>
   </div>
   {{/days}}
</div>
{{else}}
<div id="tabs" class="tabs no-js">
   <div class="tabs-nav">
      {{#timeList}}
      <a href="#" class="tabs-nav-link">{{date}}</a>
      {{/timeList}}
   </div>
   {{#roomsinfo}}
   <div class="tab">
     <div class="tab-content">{{#venue}}{{#sessions}}{{#if venue}}<a href = "./rooms.html#venue-{{../slug}}">{{venue}} {{/if}} </a>{{/sessions}}{{/venue}}</div>
   </div>
   {{/roomsinfo}}
</div>
{{/if}}
