<!DOCTYPE html>
<!--
  Note to contributors: Do not submit any changes to this page, as it is generated automatically
  from https://github.com/fossasia/open-event-scraper.
-->
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="OpenTechSummit 2016 Schedule">
  <meta name="author" content="OpenTechSummit">

  <title>{{ apptitle }}</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
 <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="./dependencies/font-awesome.min.css">
  <link rel="stylesheet" href="./dependencies/bootstrap.min.css">
  <link rel="stylesheet" href="./css/schedule.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <style>
    </style>
    <body>

    {{> navbar}}
    <div class="carousel slide" style="margin-bottom: 0;">
       <div id="info" class="carousel-inner">
        <div style=" background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('{{eventurls.background_url }}')" class="item active"> 
          <div class="container"> 
          <div class="carousel-caption"> 
          <h4>{{eventurls.date}} at {{eventurls.time}}</h4>
          <h1>{{eventurls.name}}</h1> 
          <h4><i class="fa fa-map-marker"></i>
           {{eventurls.location}}</h4> 
           <p></p> 
          </div> 
          </div>
        </div>
      </div> 
    </div>

  <div class="eventpage container" style="background-color: white;"> 
    <div class="listing-panel row">
        <div class="col-md-12">
         <div class="row">
           <div class="col-md-4">
           </div>
           <div style="padding-right:30px" class="col-md-8">
             <a href="{{{eventurls.register}}}" class="pull-right btn btn-lg btn-primary" role="button">Tickets</a>
           </div>
         </div>
        </div>
    </div>
    <div class ="row" style="padding:2%">
      {{#if eventurls.description}}
       <div class="row">
          <div class="eventdes col-md-12"><p>{{{eventurls.description}}}</p></div>
        </div> 
      {{/if}}
    </div>  
    {{#if speakerslist}}
    <div class="container">      
    <div class="row"> 
      <div class="col-md-12">   
        <section class="speakers duplicatable-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
              <h1 style="font-size: 30px;line-height: 36px;margin-bottom: 42px;">Keynote Speakers</h1>
              </div>
            </div> 
            <div class="row">
              {{#speakerslist}}    
              <div class="col-md-6 col-sm-12">
               <div class="speaker-with-bio">
                <div class="speaker">
                  <div class="image-holder">
                    <img  onError="this.onerror=null;this.src='./dependencies/avatar.png';" class="background-image" alt="{{{name}}}" src="{{{photo}}}">
                    <div class="responsive-overlay">
                      <div class="hover-state text-center preserve3d">
                        <div class="social-links vertical-align">
                        {{#if website}}
                        <a href="{{website}}" target="default"><i class="icon fa fa-home"></i></a>
                        {{/if }}
                        {{#if twitter}}
                         <a href="{{twitter}}"><i class="icon fa fa-twitter"></i></a>
                         {{/if}}
                         {{#if facebook}}
                         <a href ="{{facebook}}"><i class="icon fa fa-facebook"></i></a>  
                         {{/if}}
                         {{#if linkedin}}
                         <a href ="{{linkedin}}"><i class="icon fa fa-linkedin"></i></a>  
                          {{/if}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="speaker-description">
                  <h2 style="margin-right:20px;">{{name}}</h2>
                  <span class="sub" style="margin-right:20px;">{{organisation}}</span>
                  <p style="margin-right:20px;">
                  {{#linkify}}{{{long_biography}}}{{/linkify}}
                  </p>
                </div>
              </div>
            </div>
            {{/speakerslist}} 
            </div>  
          </div> 
      </div>    
      <!--<div style="height:400px;overflow-x:hidden;overflow-y:overlay;" class= "twitter col-md-2">
       <a class="twitter-timeline" href="{{{eventurls.twitterLink}}}"></a> 
      </div>-->
    </div> 
    </div>
    {{/if}}
    <div style="background:#f5f5f5" class="container">
      {{#if sponsorpics}}
    <section class="sponsorscont">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12 text-center">
        <h1 style="font-size: 30px;line-height: 36px;margin-bottom: 42px;">Proudly supported by</h1><br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          {{#each sponsorpics}}
          <div class="row sponsor-row">
          {{#each this}}
            <div class="vcenter {{{divclass}}}">
              <div class="vcenter {{{sponsorimg}}} text-center">
                <a href="{{{url}}}">
                <img class="centre {{{imgsize}}}" alt="{{{name}}}" src="{{{logo}}}">
                </a>
              </div>
            </div>
          {{/each}}
           </div> <!-- sponsor-row -->
        {{/each}}
        </div>
      </div>  
    </section> 
    </div> 
      {{/if}}

{{#if eventurls.latitude }}
{{#if eventurls.longitude}}
<div style="background:#ffffff" class="container">
  <section class="sponsorscont">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12 text-center">
        <h1 style="font-size: 30px;line-height: 36px;margin-bottom: 42px;">Get me here</h1><br>
      </div>
      <div class="col-md-12" id="map">
      </div>
    </div>
  </section> 
</div>         

{{/if}}
{{/if}}  
<input type="hidden" id="mappos" value="{{{eventurls.latitude}}},{{{eventurls.longitude}}}"/>
</div>
{{> footer}}
  

    <script src="./dependencies/jquery.min.js"></script>
    <script src="./dependencies/bootstrap.min.js" type="text/javascript"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd_L2ncYmf3Yyr6Or01E_ze6QEv289HYs&callback=initMap" type="text/javascript"></script>
    <script type="text/javascript" src="./js/popover.js"></script>
   <script src="./js/map.js" type="text/javascript"></script>
   <!--<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
   <script>
 
    $(function() {  
      $('.nav.navbar-nav > li a').removeClass('active');
      var linkUrl=window.location.href.split("/");
      if((linkUrl).indexOf("tracks.html")!=-1){
        $("#trackslink").addClass('active');
      }
      else if((linkUrl).indexOf("rooms.html")!=-1){
        $("#roomslink").addClass('active');
      }
      else if((linkUrl).indexOf("speakers.html")!=-1){
        $("#speakerslink").addClass('active');
      }
      else if((linkUrl).indexOf("sessions.html")!=-1){
        $("#sessionslink").addClass('active');
      }
      else {
        $("#homelink").addClass('active');
      }
$(function() {  
  $('.nav.navbar-nav > li a').removeClass('active');
  var linkUrl=window.location.href.split("/");
  if((linkUrl).indexOf("tracks.html")!=-1){
    $("#trackslink").addClass('active');
  }
  else if((linkUrl).indexOf("rooms.html")!=-1){
    $("#roomslink").addClass('active');
  }
  else if((linkUrl).indexOf("speakers.html")!=-1){
    $("#speakerslink").addClass('active');
  }
  else if((linkUrl).indexOf("sessions.html")!=-1){
    $("#sessionslink").addClass('active');
  }
  else {
    $("#homelink").addClass('active');
  }
});
</script> 
   <script type="text/javascript">
      $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      })
    });
    </script>
 
</body>
</html>
