
<!DOCTYPE html>
<!--
  Note to contributors: Do not submit any changes to this page, as it is generated automatically
  from https://github.com/fossasia/open-event-scraper.
-->
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="OpenTechSummit 2016 Schedule">
  <meta name="author" content="OpenTechSummit">

  <title>OpenTechSummit 2016 Schedule</title>

  <!-- Bootstrap core CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="{{ eventurls.ico_url }}" type="image/x-icon" />
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
  <link rel="stylesheet" href="./css/schedule.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>

      {{> navbar}}

    <div class="row">
    <div class="col-md-offset-2 col-md-8 main">
      <div id=track-list class="container">
        {{#tracks}}
        <div class="row">
          {{#with sessions.[0]}}
          <div class="height col-md-offset-1 col-xs-2 col-md-1">
           <h6 class="text">{{start}}</h6>
          </div>
           {{/with}}
          <div style="background-color:{{{color}}}" class="item track-title col-xs-10 event col-md-7">
              <h5>{{title}}</h5>
          </div>
          <div style="display:none;" class="pop-box">
            <div class="arrow">
            <span></span>
            </div>
            <div class="pop-container" style="color:black";>
              <div class="pop">
                  <h6 id="headline"><strong>Speakers</strong></h6>
                 {{#sessions}}
                 {{#each speakers_list}}
                 <div class="pop-over row">

                    <div class="col-xs-3 col-md-2">

                    <img src="{{photo}}" style="width:5rem; height:5rem;"/>
                    </div>
                    <div class="col-md-offset-1 col-xs-offset-1 col-xs-9 col-md-9">

                      {{name}} ({{organisation}})

                    </div>
                </div>
                {{/each}}
                  {{/sessions}}
              </div>
            </div>
          </div>
        </div>
        {{/tracks}}
      </div>
    </div>
    <div class="col-md-2">
    </div>
    </div>
   <!-- /#session-list -->
    {{> footer}}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="./js/popover.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous">
  </script>
   <script type="text/javascript">
    $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>

   <!-- /#track-list -->

</body>
</html>
